@import default-settings.sass  

.main-content
  +parentSetBg

.header
  margin-bottom: -1px
     


.logo 
  padding: 24px 0
  
.phone
  text-align: center
  ul 
    padding: 16px 0 
    li  
      list-style: none
      margin-left: 46px
      a 
        +fontReg(18px)
        font-weight: 700
        color: #ce1111
        text-decoration: none

.nav-bar
  text-align: center
  background-color: #000000
  position: relative
  padding: 30px 0
  &:before
    content: ' '
    width: 53px
    height: 89px
    background-color: #000 
    position: absolute
    left: -27px
    top: 0
    transform: skewX(-0.06turn);
  &:after
    content: ' '
    width: 53px
    height: 89px
    background-color: #000
    position: absolute
    right: -31px
    top: 0px
    transform: skewX(-0.06turn);
  ul 
    li 
      list-style: none
      display: inline-block
      margin: 0 15px
      a 
        +fontReg(18px)
        color: #fff
        text-decoration: none
        letter-spacing: 1px
        &:hover 
          color: #ce1111;
          border-bottom: 1px solid #ce1111
          padding-bottom: 10px

.wrapper 
  +parentSetBg
  background-image: url("../images/mainBg.jpg")
  padding: 120px 0

.wrapper-title
  +fontTitle(40px)
  margin-bottom: 25px

.wrapper-text
  +fontReg(18px)
  margin-bottom: 20px

.wrapper-btn 
  a 
    padding: 20px 40px
    display: inline-block
    background-color: #ce1111
    +fontReg(20px)
    color: #fff
    text-decoration: none

.calculation-items
  +parentSetBg
  background-image: url("../images/calcBg1.png")
  padding: 30px 0


.calculation-items-title
  p 
    +fontTitle(24px)
    color: #fff
    margin-left: 85px
.calculation-items-box
  width: 70%
  margin: 0 auto
  text-align: center
  position: relative
  background-color: #e8e8e8
  &:before
    content: ' '
    width: 34px
    height: 108px
    background-color: #e8e8e8 
    position: absolute
    left: -20px
    top: 0
    transform: skewX(-0.04turn);
  &:after
    content: ' '
    width: 34px
    height: 108px
    background-color: #e8e8e8
    position: absolute
    right: -19px
    top: 0px
    transform: skewX(-0.04turn);
  img 
    position: absolute
    top: 26px
    left: -64px

.calculation-items-box-title
  +fontTitle(18px)
  padding: 40px 0

.calculation-items-numb
  +fontTitle(40px)
  position: absolute
  bottom: 0
  right: 0
  line-height: 1
  z-index: 10

.calculation-form
  text-align: center
  img 
    width: 105%

.about-us
  +parentSetBg
  padding: 100px 0
  background-image: url("../images/aboutBg.png")

.about-us-img
  img
    width: 105%

.about-us-title
  +fontTitle(30px)
  margin-bottom: 20px
  line-height: 1
  color: #fff

.about-us-text
  p
    +fontReg(14px)
    color: #fff
    margin-bottom: 15px

.about-us-items-title
  text-align: center
  +fontTitle(40px)
  color: #fff
  line-height: 1
  margin-bottom: 25px

.about-us-items-text
  +fontReg(14px)
  text-align: center
  color: #ffffff

.about-us-items
  margin-top: 107px
  position: relative

.about-us-items
  img 
    position: absolute
    top: -15px
    right: 8%
    width: 25%

.reviews
  background-color: #dcdcdc
  padding: 100px 0
  text-align: center


.reviews-title
  +fontTitle(30px)
  color: #000
  line-height: 1
  margin-bottom: 30px

.slider 
  background-color: #fff
  padding: 60px 70px

.rev
  text-align: left
  p:first-child
    font-weight: 700
    font-size: 24px
  p 
    margin-bottom: 30px
    +fontReg(16px)
  

.cont-title
  +fontTitle(30px)
  margin-top: 70px

.cont-list
  margin-top: 70px
  position: relative
  
  li 
    +fontReg(20px)
    list-style: none
    margin-top: 15px
  
.contact
  .col-md-4:first-child
    &:after
      content: ' '
      width: 121px
      height: 458px
      background-color: #fff
      position: absolute
      right: -72px
      top: 0px
      transform: skewX(0.04turn);
      z-index: 10

.map    
  &:after
      content: ' '
      width: 273px
      height: 458px
      background-color: #ce1111
      position: absolute
      right: -121px
      top: 0px
      transform: skewX(0.04turn);
      z-index: 10


@import media.sass    

 